<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Painel da Performance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/perf.css">
    <link rel="shortcut icon" href="/static/Designer.png">
</head>

<body>

<div id="mensagemSalvo" class="toast-sucesso">
</div>

<div class="topbar">
    <span class="brand">⚡ Performance</span>
    <button onclick="window.history.back()">Voltar</button>
</div>

<div class="table-wrapper">
    <table>

        <thead>

        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">Data</th>
            <th rowspan="2">Nome</th>
            <th rowspan="2">Matrícula</th>
            <th rowspan="2">Área</th>
            <th rowspan="2">Supervisor</th>

            <th rowspan="2">O que observou?</th>
            <th rowspan="2">Qual é a ideia?</th>
            <th rowspan="2">Onde acontece?</th>
            <th rowspan="2">Benefício Esperado</th>
            <th rowspan="2">Frequência</th>
            <th rowspan="2">Apoio</th>
            <th rowspan="2">Saving (R$)</th>

            <th colspan="5">BENEFÍCIO</th>
            <th colspan="6">ESFORÇO</th>

            <th rowspan="2">Prioridade</th>
            <th rowspan="2">Status</th>
            <th rowspan="2">Ações</th>
        </tr>

        <tr>
            <!-- BENEFÍCIO -->
            <th>Qualidade</th>
            <th>Segurança</th>
            <th>KPI</th>
            <th>Saving</th>
            <th>Norma</th>

            <!-- ESFORÇO -->
            <th>Proc.</th>
            <th>Produto</th>
            <th>Tempo</th>
            <th>Trein.</th>
            <th>Logíst.</th>
            <th>Fornecedor</th>
        </tr>

        </thead>

        <tbody id="tabelaIdeias"></tbody>

    </table>
</div>

<script src="/static/perf.js"></script>

</body>
</html>
