<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Painel da Performance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/perf.css">
    <link rel="shortcut icon" href="/static/Designer.png">
</head>

<body>

<div id="mensagemSalvo" class="toast-sucesso">
    ✅ Salvou com sucesso!
</div>

<div class="topbar">
    <span class="brand">⚡ Performance</span>
    <button onclick="window.history.back()">Voltar</button>
</div>

<div class="table-wrapper">
    <table>

        <thead>

        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2">TÍTULO</th>
            <th rowspan="2">DATA</th>
            <th rowspan="2">NOME</th>
            <th rowspan="2">MATRÍCULA</th>
            <th rowspan="2">GESTOR</th>
            <th rowspan="2">ÁREA</th>
            <th rowspan="2">DESCRIÇÃO</th>
            <th rowspan="2">ANTES/DEPOIS</th>
            <th rowspan="2">IMPACTO</th>
            <th rowspan="2">SAVING (R$)</th>

            <th colspan="5">BENEFÍCIO</th>
            <th colspan="6">ESFORÇO</th>

            <th rowspan="2">Total Benefício</th>
            <th rowspan="2">Total Esforço</th>
            <th rowspan="2">Prioridade</th>
            <th rowspan="2">Status</th>
            <th rowspan="2">Ações</th>
        </tr>

        <tr>
            <!-- BENEFÍCIO -->
            <th>Qualidade</th>
            <th>Segurança</th>
            <th>KPI</th>
            <th>Saving</th>
            <th>Norma</th>

            <!-- ESFORÇO -->
            <th>Proc.</th>
            <th>Produto</th>
            <th>Tempo</th>
            <th>Trein.</th>
            <th>Logíst.</th>
            <th>Fornecedor</th>
        </tr>

        </thead>

        <tbody id="tabelaIdeias"></tbody>

    </table>
</div>

<script src="/static/perf.js"></script>

</body>
</html>
